<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>AngularJS</title>

		<meta name="description" content="Présentation AngularJS par Thierry LAU">
		<meta name="author" content="Thierry LAU">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
        <link rel="stylesheet" href="css/angular.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

                <section>
                    <section>
                        <img src="img/angularjs.png" height="300px" alt="AngularJS">
                        <h3>Transcendez vos développements Web avec AngularJS</h3>
                        <p>
                            <small>presenté par <a href="http://gplus.to/lauthierry">LAU Thierry</a> / <a href="https://twitter.com/laut3rry">@laut3rry</a></small>
                        </p>
                    </section>
                    <section>
                        <h2>Développeur Front End chez <span class="orange">[</span>sf<span class="orange">Ξ</span>ir<span class="orange">]</span></h2>
                        <a href="http://www.sfeir.com"><img src="img/sfeir.png" alt=""></a>
                    </section>
                    <section>
                        <h2>Anime la page HTML5 * CSS3 - ʕ๏๏ʔ</h2>
                        <figure>
                            <a href="https://plus.google.com/101291710590780094468/posts"><img src="img/page_google_plus.png" alt=""></a>
                        </figure>
                    </section>
                    <section>
                        <h2>et la communauté HTML5 * CSS3 [FR]</h2>
                        <figure>
                            <a href="http://gplus.to/html5css3fr"><img src="img/communaute_google_plus.png" alt=""></a>
                        </figure>
                    </section>
                    <section id="fan">
                        <h1>F</h1>
                        <img src="img/angularjs.png" height="300px" alt="A">
                        <h1>N</h1>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Framework Javascript</h2>
                        <h3>par Google</h3>
                        <p>pour développer des applications Web modernes</p>
                    </section>

                    <section>
                        <h2>Framework Javascript</h2>
                        <ul>
                            <li>Séparation des couches (MV*)</li>
                            <li>Navigation coté client</li>
                            <li>Templating</li>
                            <li>Meilleure organisation du code Javascript</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Déroulement</h2>
                        <ul>
                            <li>Parcourir les fonctionnalités clés d'AngularJS</li>
                            <li>Live coding d'une librairie de films en ligne</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <img src="img/misko.jpg" height="200px" alt="Misko Hevery">
                    <blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
                        AngularJS est ce que le navigateur Web aurait du être s'il avait été conçu pour des applications Web
                    </blockquote>
                    <small class="pull-right">Misko Hevery, créateur d'AngularJS</small>
                </section>


                <section>
                    <section>
                        <h2>Hello World HTML</h2>
                        <pre><code class="html" contenteditable>
                         &lt;p&gt;Hello World&lt;/p&gt;
                        </code></pre>
                    </section>

                    <section>
                        <p><input style="height:35px; font-size:20px" id="jsInput" type="text"/></p>
                        <p><div id="jsDiv"></div></p>

                        <script type="text/javascript">
                            var div = document.getElementById('jsDiv');
                            var input = document.getElementById('jsInput');
                            var txt = 'Hello World';

                            input.value = txt;
                            if (div.textContent || div.textContent === "") {
                                div.textContent = txt;
                            } else if(div.innerText || div.innerText === "") { // IE
                                div.innerText = txt;
                            }

                            input.onkeyup = function(){
                                if (div.textContent || div.textContent === "") {
                                    div.textContent = input.value;
                                } else if(div.innerText || div.innerText === "") { // IE
                                    div.innerText = input.value;
                                }
                            };
                        </script>
                    </section>

                    <section>
                        <h2>Hello World avec Javascript</h2>
                        <pre><code class="html" contenteditable>
&lt;html&gt;
    &lt;input type="text"/&gt;
    &lt;div id="myDiv"&gt;&lt;/div&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
window.onload = function(){
    var div = document.getElementById('myDiv');
    var input = document.getElementsByTagName('input')[0];
    var txt = 'Hello World';

    input.value = txt;
    if (div.textContent || div.textContent === "") {
        div.textContent = txt;
    } else if(div.innerText || div.innerText === "") { // IE
        div.innerText = txt;
    }

    input.onkeyup = function(){
        if (div.textContent || div.textContent === "") {
            div.textContent = input.value;
        } else if(div.innerText || div.innerText === "") { // IE
            div.innerText = input.value;
        }
    };
};
                        </code></pre>

                    </section>

                    <section>
                        <h2>Hello World avec jQuery</h2>
                        <pre><code class="html" contenteditable>
&lt;html&gt;
    &lt;input type="text"/&gt;
    &lt;div id="myDiv"&gt;&lt;/div&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$(document).ready(function() {
    var txt = 'Hello World';
    var $input = $('input');
    var $div = $('#myDiv');
    $input.val(txt);
    $div.text(txt);
    $input.keyup(function (event) {
        $div.text(event.target.value);
    });
});
                        </code></pre>
                        <p><input style="height:35px; font-size:20px" id="jQueryInput" type="text"/></p>
                        <p><div id="myDiv"></div></p>
                        <script type="text/javascript">
                            var txt = 'Hello World';
                            var $input = $('#jQueryInput');
                            var $div = $('#myDiv');
                            $input.val(txt);
                            $div.text(txt);
                            $input.keyup(function (event) {
                                $div.text(event.target.value);
                            });
                        </script>
                    </section>

                    <section>
                        <h2>Hello World AngularJS</h2>
                        <pre><code class="html" contenteditable>
&lt;html ng-app ng-controller="myController"&gt;
    &lt;input ng-model="greeting"/&gt;
    &lt;div &gt;{{greeting}}&lt;/div&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.greeting = 'Hello World';
}
                        </code></pre>
                        <div ng-app="angularRevealApp" ng-controller="greetingController">
                            <p>
                                <input style="height:35px; font-size:20px" type="text" ng-model="greeting">
                            </p>
                            <p>{{greeting}}</p>
                        </div>
                    </section>
                </section>

                <section>
                    <h3>Top feature n°1 : Data-binding bi-directionnel</h3>
                    <pre><code class="html" contenteditable>
&lt;html ng-app&gt;
    &lt;div ng-controller="myController"&gt;{{greeting}}&lt;/div&gt;
&lt;/html&gt;
                    </code></pre>
                    <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.greeting = 'Hello World';
}
                    </code></pre>
                    <p class="fragment"><code>$scope</code> est la seule source de vérité</p>
                    <p class="fragment">La vue et le modèle sont synchronisés</p>
                    <p class="fragment">Elimination de 60 à 80% du code de manipulation du DOM</p>
                </section>

                <section>
                    <h3>Top feature n°2 : Template</h3>
                    <pre><code class="html" contenteditable>
&lt;html ng-app&gt;
    &lt;div ng-controller="myController"&gt;{{greeting}}&lt;/div&gt;
&lt;/html&gt;
                    </code></pre>
                    <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.greeting = 'Hello World';
}
                    </code></pre>
                    <p class="fragment">Pas de manipulation de string, ni de innerHTML</p>
                    <p class="fragment">Transformation du DOM grâce au compilateur AngularJS</p>
                    <p class="fragment">Extension de HTML via les directives</p>
                </section>

                <section>
                    <h3>Top feature n°3 : MVC</h3>
                    <pre><code class="html" contenteditable>
&lt;html ng-app&gt;
    &lt;div ng-controller="myController"&gt;{{greeting}}&lt;/div&gt;
&lt;/html&gt;
                    </code></pre>
                    <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.greeting = 'Hello World';
}
                    </code></pre>
                    <p class="fragment">modèle = simple object javascript</p>
                    <p class="fragment">vue = HTML</p>
                    <p class="fragment">contrôleur = simple fonction javascript</p>
                </section>

                <section>
                    <h2>Gestion des évènements de clic</h2>
                    <p>Utilisation de la directive <code>ng-click</code></p>
                    <pre><code class="html" contenteditable>
&lt;div ng-controller="myController"&gt;
    &lt;button ng-click="callAction()"&gt;&lt;/button&gt;
&lt;/div&gt;
                    </code></pre>
                    <pre><code class="javascript" contenteditable>
function myController($scope){
    $scope.callAction = function(){
        /* do something */
    };
}
                    </code></pre>
                </section>

                <section>
                    <h1>DEMO</h1>
                </section>

                <section>
                    <section>
                        <h2>Hiérarchie des <code>$scope</code></h2>
                        <ul>
                            <li class="fragment">Un seul scope global appelé <code>$rootScope</code></li>
                            <li class="fragment">Plusieurs <code>$scope</code> enfants</li>
                            <li class="fragment">Un scope créé est toujours enfant d'un scope parent ...</li>
                            <li class="fragment">... et hérite des propriétés de ce dernier</li>
                        </ul>
                    </section>

                    <section>
                        <img style="height:450px" src="img/scope0.png" alt=""/>
                        <img src="img/scope4.png" alt=""/>
                    </section>

                    <section>
                        <img style="height:450px" src="img/scope1.jpg" alt=""/>
                        <img src="img/scope2.png" alt=""/>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                    <section>
                        <h2>Propagation des évènements <code>$scope</code></h2>
                        <p class="fragment">Un évènement peut être "diffusé" aux <code>$scope</code> enfants ...</p>
                        <pre class="fragment"><code class="javascript" contenteditable>
$scope.$broadcast('myEvent', param1, param2, ...);
                        </code></pre>
                        <p class="fragment">... ou "émis" aux <code>$scope</code> parents</p>
                        <pre class="fragment"><code class="javascript" contenteditable>
$scope.$emit('anotherEvent', param1, param2, ...);
                        </code></pre>
                        <pre class="fragment"><code class="javascript" contenteditable>
$scope.$on('yetAnotherEvent', function(event, param1, param2, ...){
      console.log(param1);
});
                        </code></pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>XHR & Injection de dépendances</h2>
                        <p>Pour effectuer des appels XHR, angular dispose du service <code>$http</code> ...</p>
                        <p>... injectable comme le <code>$scope</code></p>
                        <pre><code class="javascript" contenteditable>
function myController($scope, $http){

};
                        </code></pre>
                    </section>

                    <section>
                        <p>Usages</p>
                        <pre><code class="javascript" contenteditable>
$http.get(url, options)
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$http.post(url, data, options)
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$http.put(url, data, options)
                        </code></pre>
                        <pre><code class="javascript" contenteditable>
$http.delete(url, options)
                        </code></pre>
                    </section>


                    <section>
                        <p>Callbacks</p>
                        <pre><code class="javascript" contenteditable>
$http.get(url, options)
.success(function(data, status, headers, config){
    /* do something */
})
.error(function(data, status, headers, config){
    /* handle error */
});
                        </code></pre>
                    </section>
                </section>

                <section>
                    <h1>DEMO</h1>
                </section>

                <section>
                    <section>
                        <h2>Navigation côté client</h2>
                    </section>
                    <section>
                        <h2><code>$routeProvider</code></h2>
                        <p>Une URL pour un état de l'application (template HTML, controller)</p>
                    <pre><code class="javascript" contenteditable>
$routeProvider
    .when('/route1', {
        templateUrl: 'path/to/view1.html',
        controller : 'view1Controller'
    })
    .when('/route2', {
        templateUrl: 'path/to/view2.html',
        controller : 'view2Controller'
    })
    .otherwise({
        redirectTo: '/route1'
    });
                    </code></pre>

                    </section>
               </section>

                <section>
                    <h1>DEMO</h1>
                </section>

                <section>
                    <h2>Récapitulatifs</h2>
                    <ul>
                        <li>Initialisation avec <code>ng-app</code></li>
                        <li>Controller</li>
                        <li>Modèle lié <code>$scope</code></li>
                        <li>Template HTML</li>
                        <li>Evènement clic avec <code>ng-click</code></li>
                        <li>XHR avec le service <code>$http</code></li>
                        <li>Navigation côté client</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Top feature n°4 : Services & Injection de dépendances</h2>
                        <p class="fragment">Singleton qui fournit des tâches spécifiques à l'application</p>
                        <p class="fragment">Exemple : $scope, $http</p>

                    </section>

                    <section>
                        <h2>Créer ses propres services</h2>
                        <pre><code class="javascript" contenteditable>
myModuleApp.service("MonService", function ($http, dep1, dep2, ...) {
    /* utilisation de $http */
});
                        </code></pre>

                        <pre class="fragment"><code class="javascript" contenteditable>
function myController($scope, MonService){
    MonService.faireUnTruc();
};
                        </code></pre>
                    </section>

                </section>

                <section>
                    <h1>DEMO</h1>
                </section>

                <section>
                    <section>
                        <h2>Top feature n° 5 : Filtres AngularJS</h2>
                        <p>Formate les données avant de les afficher</p>
                    </section>
                    <section>
                        <h2>Exemples</h2>
                        <pre><code class="javascript" contenteditable>
$scope.amount = 1234.56;
                        </code></pre>
                        <pre><code class="html" contenteditable>
&lt;div&gt;{{amount | currency}}&lt;/div&gt;        &lt;!-- $1,234.56 --&gt;
&lt;div&gt;{{amount | currency:"USD$"}}&lt;/div&gt; &lt;!-- USD$1,234.56 --&gt;
                        </code></pre>
                    </section>
                    <section>
                        <h2>D'autres filtres</h2>
                        <ul>
                            <li>date</li>
                            <li>lowercase</li>
                            <li>uppercase</li>
                            <li>limitTo</li>
                            <li class="fragment grow">filter</li>
                            <li class="fragment grow">orderBy</li>
                        </ul>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                    <section>
                        <h2>Créer ses propres filtres</h2>
                        <pre><code class="javascript" contenteditable>
angularMovieApp.filter('greet', function () {
    return function(inputValue, arg1, arg2, ....) {
         return 'Hello ' + inputvalue;
    };
});
                        </code></pre>
                        <pre><code class="html" contenteditable>
&lt;div&gt;{{name || greet}}&lt;/div&gt;
&lt;div&gt;{{name || greet:arg1:arg2}}&lt;/div&gt;
                        </code></pre>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Top feature n°6 : Directives</h2>
                        <p>Etendre le langage HTML</p>
                        <p>Créer des composants réutilisables</p>
                    </section>

                    <section>
                        <h2>Exemples</h2>
                        <ul>
                            <li>ng-model</li>
                            <li>ng-repeat</li>
                            <li>ng-click</li>
                            <li>ng-show</li>
                            <li class='fragment grow'>ng-switch</li>
                        </ul>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                    <section>
                        <h2>Créer ses propres directives</h2>
                        <ul>
                            <li>Scope</li>
                            <li>Linking function</li>
                            <li>Compile</li>
                            <li>Restriction</li>
                            <li>Transclusion</li>
                        </ul>
                    </section>

                    <section>
                        <img src="img/wtf.gif" height="400px" alt="WTF !!!"/>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                </section>

                <section>
                    <section>
                        <h2>Outils autour d'AngularJS</h2>
                    </section>

                    <section>
                        <h2>Batarang</h2>
                        <a href="https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk"><img src="img/batarang.png" alt=""></a>
                    </section>

                    <section>
                        <h2>Yeoman</h2>
                        <a href="http://yeoman.io/"><img src="img/yeoman.png" alt=""></a>
                    </section>

                    <section>
                        <h2>Karma (Testacular)</h2>
                        <a href="http://karma-runner.github.com/0.8/index.html"><img src="img/karma.png" alt=""></a>
                    </section>

                    <section>
                        <h2>Plugin Intellij / Webstorm</h2>
                        <a href="http://plugins.jetbrains.com/plugin?pr=&pluginId=6971"><img src="img/pluginidea.png" alt=""></a>
                    </section>

                    <section>
                        <h2>AngularUI</h2>
                        <a href="http://angular-ui.github.com/"><img src="img/angularui.png" alt=""></a>
                    </section>

                    <section>
                        <h2>AngularStrap </h2>Olivier Louvignes
                        <a href="http://mgcrea.github.com/angular-strap/"><img src="img/angularstrap.png" alt=""></a>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Ressources</h2>
                        <ul>
                            <li class="fragment"><a href="http://docs.angularjs.org/tutorial">Tutorial Officiel</a></li>
                            <li class="fragment"><a href="http://www.youtube.com/user/angularjs">Chaîne Youtube AngularJS Officiel</a></li>
                            <li class="fragment"><a href="http://www.yearofmoo.com/tags/AngularJS.html">Year Of Moo</a></li>
                            <li class="fragment"><a href="http://www.frangular.com/">AngularFR</a> , par Thierry Chatel</li>
                            <li class="fragment"><a href="http://www.itaware.eu/tag/angularjs/">I.T Aware</a> , par Sébastien Letélié</li>
                            <li class="fragment"><a href="http://egghead.io/">egghead.io</a> Plein de vidéos réalisées par John Lindquist</li>
                            <li class="fragment"><a href="https://plus.google.com/communities/109984348857296908402?hl=fr">Communauté Google+ française AngularJS</a></li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Pourquoi AngularJS ?</h2>
                        <ul>
                            <li class="fragment">Beaucoup moins de code à écrire grâce au data-binding bi-directionnel</li>
                            <li class="fragment">Modularisation du code avec les modules et les services injectables : Pas de pollution de
                                l'espace global
                            </li>
                            <li class="fragment">AngularJS peut être actif sur une portion de ta page HTML</li>
                            <li class="fragment">Créer ses propres composants réutilisable grâce aux directives</li>
                            <li class="fragment">Développement guidée</li>
                            <li class="fragment">Framework qui promeut les tests unitaires</li>
                            <li class="fragment">API bien documentée pour certains aspects</li>
                            <li class="fragment"><a href="http://docs.angularjs.org/tutorial">Excellent tutorial pour débuter</a></li>
                        </ul>
                    </section>

                    <section>
                        <h2>Difficultés</h2>
                        <ul>
                            <li class="fragment">Documentation officielle pauvre sur certaines notions</li>
                            <li class="fragment">Ecriture des directives pouvant être compliquée si on ne maîtrise pas son cycle de vie</li>
                            <ul class="fragment">
                                <li>Compilation</li>
                                <li>Link</li>
                                <li>Transclusion</li>
                                <li>Restriction</li>
                            </ul>
                        </ul>
                    </section>

                    <section>
                        <h2>Difficultés</h2>
                        <ul>
                            <li class="fragment">Le data-binding bi-directionnel ne fonctionne pas hors du "monde" AngularJS. Il faut utiliser
                               <code>$scope.$apply()</code> pour notifier angularJS qu'une valeur a été mise à jour
                            </li>
                            <li class="fragment">Intégration librairies UI jQuery pouvant être problématique</li>
                            <ul class="fragment">
                                <li>Je la wrappe dans une directive ?</li>
                                <li>... ou je crée une directive ?</li>
                            </ul>
                        </ul>
                    </section>
                </section>

                <section>
                    <h2>Code & Slides</h2>
                    <p>Code : <a href="https://github.com/lauterry/angularmovie">https://github.com/lauterry/angularmovie</a></p>
                    <p>Slides : <a href="https://github.com/lauterry/slides-prez-angular">https://github.com/lauterry/slides-prez-angular</a></p>
                </section>

				<section>
					<h3>Merci de votre attention !</h3>
					<p>twitter : <a href="https://twitter.com/laut3rry">@laut3rry</a></p>
                    <p>google + : <a href="http://gplus.to/lauthierry">http://gplus.to/lauthierry</a></p>
				</section>

			</div>

		</div>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
