<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

	<head>
		<meta charset="utf-8">

		<title>AngularJS</title>

		<meta name="description" content="Présentation AngularJS par Thierry LAU">
		<meta name="author" content="Thierry LAU">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
        <link rel="stylesheet" href="css/angular.css">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

        <script type="text/javascript" src="js/jquery-1.9.1.js"></script>
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

                <section>
                    <section>
                        <img src="img/angularjs.png" height="300px" alt="AngularJS">
                        <h3>Transcendez vos développements Web avec AngularJS</h3>
                        <p>
                            <small>presenté par <a href="http://gplus.to/lauthierry">LAU Thierry</a> / <a href="https://twitter.com/laut3rry">@laut3rry</a></small>
                        </p>
                    </section>
                    <section>
                        <h2>Développeur Front End chez <span class="orange">[</span>sf<span class="orange">Ξ</span>ir<span class="orange">]</span></h2>
                        <a href="http://www.sfeir.com"><img src="img/sfeir.png" alt=""></a>
                    </section>
                    <section>
                        <h2>Anime la page HTML5 * CSS3 - ʕ๏๏ʔ</h2>
                        <figure>
                            <a href="https://plus.google.com/101291710590780094468/posts"><img src="img/page_google_plus.png" alt=""></a>
                        </figure>
                    </section>
                    <section>
                        <h2>et la communauté HTML5 * CSS3 [FR]</h2>
                        <figure>
                            <a href="http://gplus.to/html5css3fr"><img src="img/communaute_google_plus.png" alt=""></a>
                        </figure>
                    </section>
                    <section id="fan">
                        <h1>F</h1>
                        <img src="img/angularjs.png" height="300px" alt="A">
                        <h1>N</h1>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Framework Javascript</h2>
                        <h3>par Google</h3>
                        <p>pour développer des applications Web modernes</p>
                    </section>

                    <section>
                        <h2>Framework Javascript</h2>
                        <ul>
                            <li>Séparation des couches (MV*)</li>
                            <li>Meilleure organisation du code Javascript</li>
                            <li>Navigation coté client</li>
                            <li>Templating</li>
                            <li>Interaction avec le Back End</li>
                        </ul>
                    </section>
                </section>

                <section>
                    <img src="img/misko.jpg" height="200px" alt="Misko Hevery">
                    <blockquote cite="http://searchservervirtualization.techtarget.com/definition/Our-Favorite-Technology-Quotations">
                        AngularJS est ce que le navigateur Web aurait du être s'il avait été conçu pour des applications Web
                    </blockquote>
                    <small class="pull-right">Misko Hevery, créateur d'AngularJS</small>
                </section>

                <section>
                    <section>
                        <h1>Déroulement</h1>
                        <p>Live coding d'une vidéothèque avec AngularJS en 9 étapes</p>
                    </section>
                    <section>
                        <h2>Simple page HTML statique</h2>
                        <img src="img/from.jpg" alt="Simple page HTML statique"/>
                    </section>
                    <section>
                        <h2>Application Web Moderne</h2>
                        <img src="img/to.jpg" alt="Application Web Moderne"/>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Hello World HTML</h2>
                        <pre><code class="html">
                            &lt;p&gt;Bonjour le monde&lt;/p&gt;
                        </code></pre>
                    </section>

                    <section>
                        <p>Bonjour <span id="jsDiv"></span></p>
                        <p><input style="height:35px; font-size:20px" id="jsInput" type="text"/></p>

                        <script type="text/javascript">
                            var div = document.getElementById('jsDiv');
                            var input = document.getElementById('jsInput');
                            var txt = 'le monde';

                            input.value = txt;
                            if (div.textContent || div.textContent === "") {
                                div.textContent = txt;
                            } else if(div.innerText || div.innerText === "") { // IE
                                div.innerText = txt;
                            }

                            input.onkeyup = function(){
                                if (div.textContent || div.textContent === "") {
                                    div.textContent = input.value;
                                } else if(div.innerText || div.innerText === "") { // IE
                                    div.innerText = input.value;
                                }
                            };
                        </script>
                    </section>

                    <section>
                        <h2>Hello World avec Javascript</h2>
                        <pre><code class="html">
&lt;html&gt;
    Bonjour &lt;span id="name"&gt;&lt;/span&gt;
    &lt;input type="text"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
window.onload = function(){
    var span = document.getElementById('name');
    var input = document.getElementsByTagName('input')[0];
    var txt = 'le monde';

    input.value = txt;
    if (span.textContent || span.textContent === "") {
        span.textContent = txt;
    } else if(span.innerText || span.innerText === "") { // IE
        span.innerText = txt;
    }

    input.onkeyup = function(){
        if (span.textContent || span.textContent === "") {
            span.textContent = input.value;
        } else if(span.innerText || span.innerText === "") { // IE
            span.innerText = input.value;
        }
    };
};
                        </code></pre>

                    </section>

                    <section>
                        <h2>Hello World avec jQuery</h2>
                        <pre><code class="html">
&lt;html&gt;
    Bonjour &lt;span id="name"&gt;&lt;/span&gt;
    &lt;input type="text"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
$(document).ready(function() {
    var txt = 'le monde';
    var $input = $('input');
    var $span = $('#name');
    $input.val(txt);
    $span.text(txt);
    $input.keyup(function (event) {
        $span.text(event.target.value);
    });
});
                        </code></pre>
                        <p>Bonjour <span id="name"></span></p>
                        <p><input style="height:35px; font-size:20px" id="jQueryInput" type="text"/></p>
                        <script type="text/javascript">
                            var txt = 'le monde';
                            var $input = $('#jQueryInput');
                            var $name = $('#name');
                            $input.val(txt);
                            $name.text(txt);
                            $input.keyup(function (event) {
                                $name.text(event.target.value);
                            });
                        </script>
                    </section>

                    <section>
                        <h2>Hello World AngularJS ?</h2>
                        <p class="fragment"><a href="http://localhost:3001" target=_new>Démo</a></p>
                    </section>

                    <section>
                        <p>View</p>
                        <pre><code class="html">
&lt;html ng-app ng-controller="homeController"&gt;
    &lt;div&gt;Bonjour {{name}}&lt;/div&gt;
    &lt;input ng-model="name"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <div class="fragment">
                            <p>Scope</p>
                            <pre><code class="javascript">
{
    name = "le monde"
}
                            </code></pre>
                        </div>
                        <p>Controller</p>
                        <pre><code class="javascript">
function homeController($scope){
    $scope.name = 'le monde';
}
                        </code></pre>
                    </section>



                    <section>
                        <pre><code class="html">
&lt;html ng-app ng-controller="homeController"&gt;
    &lt;div&gt;Bonjour {{name}}&lt;/div&gt;
    &lt;input ng-model="name"/&gt;
    &lt;div&gt;Bienvenue sur {{application.name}} v.{{version}}&lt;/div&gt;
    &lt;button ng-click="start()"&gt;Démarrer&lt;/button&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
{
    name = "le monde"
    application = {
        name : "AngularMovie",
        version : "1.0.0"
    }
    start : function
}
                        </code></pre>
                        <pre><code class="javascript">
function homeController($scope){
    $scope.name = 'le monde';
    $scope.application = {
        name : "AngularMovie",
        version : "1.0.0"
    }
    $scope.start = function(){};
}
                        </code></pre>
                    </section>

                    <section>
                        <h2>Hiérarchie des <code>$scope</code></h2>
                        <ul>
                            <li class="fragment">Un seul scope global appelé <code>$rootScope</code></li>
                            <li class="fragment">Plusieurs <code>$scope</code> enfants</li>
                            <li class="fragment">Un scope créé est toujours enfant d'un scope parent ...</li>
                            <li class="fragment">... et hérite des propriétés de ce dernier</li>
                        </ul>
                    </section>

                    <section>
                        <img style="height:450px" src="img/scope0.png" alt=""/>
                        <img src="img/scope4.png" alt=""/>
                    </section>

                    <section>
                        <img style="height:450px" src="img/scope1.jpg" alt=""/>
                        <img src="img/scope2.png" alt=""/>
                    </section>

                </section>

                <section>
                    <section>
                        <h2>MVC</h2>
                        <pre><code class="html">
&lt;html ng-app ng-controller="homeController"&gt;
    &lt;div&gt;Bonjour {{name}}&lt;/div&gt;
    &lt;input ng-model="name"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
function homeController($scope){
    $scope.name = 'le monde';
}
                        </code></pre>
                        <p class="fragment">modèle = simple object javascript</p>
                        <p class="fragment">vue = HTML</p>
                        <p class="fragment">contrôleur = simple fonction javascript</p>
                    </section>

                    <section>
                        <h2>Data-binding bi-directionnel</h2>
                        <pre><code class="html">
&lt;html ng-app ng-controller="homeController"&gt;
    &lt;div&gt;Bonjour {{name}}&lt;/div&gt;
    &lt;input ng-model="name"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
function homeController($scope){
    $scope.name = 'le monde';
}
                        </code></pre>
                        <p class="fragment"><code>$scope</code> est la seule source de vérité</p>
                        <p class="fragment">La vue et le modèle sont synchronisés</p>
                        <p class="fragment">Elimination de 60 à 80% du code de manipulation du DOM</p>
                    </section>

                    <section>
                        <h2>Template</h2>
                        <pre><code class="html">
&lt;html ng-app ng-controller="homeController"&gt;
    &lt;div&gt;Bonjour {{name}}&lt;/div&gt;
    &lt;input ng-model="name"/&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
function homeController($scope){
    $scope.name = 'le monde';
}
                        </code></pre>
                        <p class="fragment">C'est directement du HTML valide</p>
                        <p class="fragment">Pas de manipulation de string, ni de innerHTML</p>
                        <p class="fragment">Pas besoin de moteur de templating tierce</p>
                        <p class="fragment">Extension de HTML via les directives</p>
                    </section>

                    <section>
                        <h2>ETAPE 1/9 : Fini la liste de films statique</h2>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                </section>

                <section>
                    <section>
                        <h2>ETAPE 2/9 : Je veux ajouter un film</h2>
                    </section>

                    <section>
                        <h2>Gestion des évènements de clic</h2>
                        <p>Utilisation de l'attribut <code>ng-click</code></p>
                        <pre><code class="html">
&lt;html ng-app ng-controller="homeController"&gt;
    &lt;div&gt;Bonjour {{name}}&lt;/div&gt;
    &lt;button ng-click="start()"&gt;Démarrer&lt;/button&gt;
&lt;/html&gt;
                        </code></pre>
                        <pre><code class="javascript">
{
    name = "le monde"
    start : function
}
                        </code></pre>
                        <pre><code class="javascript">
function homeController($scope){
    $scope.name = 'le monde';
    $scope.start = function(){};
}
                        </code></pre>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                </section>

                <section>
                    <section>
                        <h3>ETAPE 3/9 : Récupérer mes films d'un serveur Back End</h3>
                    </section>

                    <section>
                        <h2>$http</h2>
                        <p class="fragment">Disponible dans AngularJS</p>
                        <p class="fragment">Pas de jQuery Ajax</p>
                        <p class="fragment">Service injectable</p>
                        <pre class="fragment"><code class="javascript">
function myController($scope, $http){

};
                        </code></pre>
                    </section>

                    <section>
                        <p>Usages</p>
                        <pre><code class="javascript">
    $http.get(url, options)
                        </code></pre>
                        <pre><code class="javascript" >
    $http.post(url, data, options)
                        </code></pre>
                        <pre><code class="javascript">
    $http.put(url, data, options)
                        </code></pre>
                        <pre><code class="javascript">
    $http.delete(url, options)
                        </code></pre>
                    </section>

                    <section>
                        <p>Callbacks</p>
                        <pre><code class="javascript">
$http.get(url, options)
    .success(function(data, status, headers, config){
        /* do something */
    })
    .error(function(data, status, headers, config){
        /* handle error */
    });
                            </code></pre>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                    <section>
                        <h2>Services & Injection de dépendances</h2>
                        <p class="fragment">Singleton qui fournit des tâches spécifiques à l'application</p>
                        <p class="fragment">Exemple : $scope, $http</p>
                    </section>

                    <section>
                        <h2>Créer ses propres services</h2>
                        <pre><code class="javascript">
myModuleApp.service("MonService", function ($http, dep1, dep2, ...) {
    /* utilisation de $http */
});
                        </code></pre>

                        <pre class="fragment"><code class="javascript">
function myController($scope, MonService){
    MonService.faireUnTruc();
};
                        </code></pre>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Etape 4/9 : Navigation côté client</h2>
                    </section>
                    <section>
                        <h2><code>$routeProvider</code></h2>
                        <p>Une URL pour un état de l'application (template HTML, controller)</p>
                    <pre><code class="javascript">
$routeProvider
    .when('/route1', {
        templateUrl: 'path/to/view1.html',
        controller : 'view1Controller'
    })
    .when('/route2', {
        templateUrl: 'path/to/view2.html',
        controller : 'view2Controller'
    })
    .otherwise({
        redirectTo: '/route1'
    });
                    </code></pre>

                    </section>
               </section>

                <section>
                    <h1>DEMO</h1>
                </section>

                <section>
                    <h2>Récapitulatifs</h2>
                    <ul>
                        <li>Initialisation avec <code>ng-app</code></li>
                        <li>Controller</li>
                        <li>Modèle lié <code>$scope</code></li>
                        <li>Template HTML</li>
                        <li>Evènement clic avec <code>ng-click</code></li>
                        <li>XHR avec le service <code>$http</code></li>
                        <li>Navigation côté client</li>
                    </ul>
                </section>

                <section>
                    <section>
                        <h2>Filtres AngularJS</h2>
                        <p>Formate les données avant de les afficher</p>
                    </section>
                    <section>
                        <h2>Exemples</h2>
                        <pre><code class="javascript">
$scope.amount = 1234.56;
                        </code></pre>
                        <pre><code class="html">
&lt;div&gt;{{amount | currency}}&lt;/div&gt;        &lt;!-- $1,234.56 --&gt;
&lt;div&gt;{{amount | currency:"USD$"}}&lt;/div&gt; &lt;!-- USD$1,234.56 --&gt;
                        </code></pre>
                    </section>
                    <section>
                        <h2>D'autres filtres</h2>
                        <ul>
                            <li>date</li>
                            <li>lowercase</li>
                            <li>uppercase</li>
                            <li>limitTo</li>
                            <li class="fragment grow">filter</li>
                            <li class="fragment grow">orderBy</li>
                        </ul>
                    </section>

                    <section>
                        <h2>Etape 5/9 : Rechercher un film</h2>
                        <h2>Etape 6/9 : Trier la liste des films</h2>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                    <section>
                        <h2>Créer ses propres filtres</h2>
                        <pre><code class="javascript">
angularMovieApp.filter('greet', function () {
    return function(inputValue, arg1, arg2, ....) {
         return 'Hello ' + inputvalue;
    };
});
                        </code></pre>
                        <pre><code class="html">
&lt;div&gt;{{name || greet}}&lt;/div&gt;
&lt;div&gt;{{name || greet:arg1:arg2}}&lt;/div&gt;
                        </code></pre>
                    </section>

                    <section>
                        <h2>Etape 7/9 : Je veux de vraies étoiles</h2>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Directives</h2>
                        <p>Etendre le langage HTML</p>
                        <p>Créer des composants réutilisables</p>
                    </section>

                    <section>
                        <h2>Exemples</h2>
                        <ul>
                            <li>ng-model</li>
                            <li>ng-repeat</li>
                            <li>ng-click</li>
                            <li>ng-show</li>
                            <li class='fragment grow'>ng-switch</li>
                        </ul>
                    </section>

                    <section>
                        <h2>Etape 8/9 : Switcher vers une vue plus compacte</h2>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                    <section>
                        <h2>Plusieurs types d'invocations possibles</h2>
                        <pre><code class="html">
                            &lt;div navbar &gt;&lt;/div&gt;
                        </code></pre>
                         <pre><code class="html">
                            &lt;navbar&gt;&lt;/navbar&gt;
                         </code></pre>
                         <pre><code class="html">
                            &lt;div class="navbar" &gt;&lt;/div&gt;
                         </code></pre>
                         <pre><code class="html">
                            &lt;!-- directive : navbar --&gt;
                         </code></pre>
                    </section>

                    <section>
                        <img src="img/tabs.png" height="300px" alt="Tabs"/>
                        <pre class="fragment" ><code class="html">
                        &lt;ul class="nav-tabs"&gt;
                            &lt;li class="active"&gt;
                                &lt;a href="#"&gt;Primary tab&lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href="#"&gt;Primary tab&lt;/a&gt;
                            &lt;/li&gt;
                            &lt;li&gt;
                                &lt;a href="#"&gt;Primary tab&lt;/a&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                        </code></pre>
                    </section>

                    <section>
                        <img src="img/tabs.png" height="300px" alt="Tabs"/>
                        <pre><code class="html">
                     &lt;tabs&gt;
                         &lt;pane title="Primary tab" active&gt;
                             &lt;!-- contenu --&gt;
                         &lt;/pane&gt;
                         &lt;pane title="Secondary tab"&gt;
                             &lt;!-- contenu --&gt;
                         &lt;/pane&gt;
                         &lt;pane title="some other tab"&gt;
                             &lt;!-- contenu --&gt;
                         &lt;/pane&gt;
                     &lt;/tabs&gt;
                    </code></pre>
                    </section>

                    <section>
                        <h2>Libérez votre imagination</h2>
                        <pre><code class="html">
                            &lt;calendar&gt;&lt;/calendar&gt;
                        </code></pre>
                        <pre><code class="html">
                            &lt;progress-bar&gt;&lt;/progress-bar&gt;
                        </code></pre>
                        <pre><code class="html">
                            &lt;dialog&gt;&lt;/dialog&gt;
                        </code></pre>
                        <pre><code class="html">
                           &lt;datepicker&gt;&lt;/datepicker&gt;
                        </code></pre>
                        <pre><code class="html">
                           &lt;accordion&gt;&lt;/accordion&gt;
                        </code></pre>
                    </section>

                    <section>
                        <h2>Créer ses propres directives</h2>
                        <ul>
                            <li>Scope</li>
                            <li>Linking function</li>
                            <li>Compile</li>
                            <li>Restriction</li>
                            <li>Transclusion</li>
                        </ul>
                    </section>

                    <section>
                        <img src="img/wtf.gif" height="400px" alt="WTF !!!"/>
                    </section>

                    <section>
                        <h2>Etape 9/9 : Créer votre propre directive</h2>
                    </section>

                    <section>
                        <h1>DEMO</h1>
                    </section>

                </section>

                <section>
                    <section>
                        <h2>Outils autour d'AngularJS</h2>
                    </section>

                    <section>
                        <h2>Batarang</h2>
                        <a href="https://chrome.google.com/webstore/detail/angularjs-batarang/ighdmehidhipcmcojjgiloacoafjmpfk"><img src="img/batarang.png" alt=""></a>
                    </section>

                    <section>
                        <h2>Yeoman</h2>
                        <a href="http://yeoman.io/"><img src="img/yeoman.png" alt=""></a>
                    </section>

                    <section>
                        <h2>Karma (Testacular)</h2>
                        <a href="http://karma-runner.github.com/0.8/index.html"><img src="img/karma.png" alt=""></a>
                    </section>

                    <section>
                        <h2>Plugin Intellij / Webstorm</h2>
                        <a href="http://plugins.jetbrains.com/plugin?pr=&pluginId=6971"><img src="img/pluginidea.png" alt=""></a>
                    </section>

                    <section>
                        <h2>AngularUI</h2>
                        <a href="http://angular-ui.github.com/"><img src="img/angularui.png" alt=""></a>
                    </section>

                    <section>
                        <h2>AngularStrap </h2>Olivier Louvignes
                        <a href="http://mgcrea.github.com/angular-strap/"><img src="img/angularstrap.png" alt=""></a>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Ressources</h2>
                        <ul>
                            <li class="fragment"><a href="http://docs.angularjs.org/tutorial">Tutorial Officiel</a></li>
                            <li class="fragment"><a href="http://www.youtube.com/user/angularjs">Chaîne Youtube AngularJS Officiel</a></li>
                            <li class="fragment"><a href="http://www.yearofmoo.com/tags/AngularJS.html">Year Of Moo</a></li>
                            <li class="fragment"><a href="http://www.frangular.com/">AngularFR</a> , par Thierry Chatel</li>
                            <li class="fragment"><a href="http://www.itaware.eu/tag/angularjs/">I.T Aware</a> , par Sébastien Letélié</li>
                            <li class="fragment"><a href="http://egghead.io/">egghead.io</a> Plein de vidéos réalisées par John Lindquist</li>
                            <li class="fragment"><a href="https://plus.google.com/communities/109984348857296908402?hl=fr">Communauté Google+ française AngularJS</a></li>
                        </ul>
                    </section>
                </section>

                <section>
                    <section>
                        <h2>Pourquoi AngularJS ?</h2>
                        <ul>
                            <li class="fragment">Beaucoup moins de code à écrire grâce au data-binding bi-directionnel</li>
                            <li class="fragment">Modularisation du code avec les modules et les services injectables : Pas de pollution de
                                l'espace global
                            </li>
                            <li class="fragment">AngularJS peut être actif sur une portion de ta page HTML</li>
                            <li class="fragment">Créer ses propres composants réutilisable grâce aux directives</li>
                            <li class="fragment">Développement guidée</li>
                            <li class="fragment">Framework qui promeut les tests unitaires</li>
                            <li class="fragment">API bien documentée pour certains aspects</li>
                            <li class="fragment"><a href="http://docs.angularjs.org/tutorial">Excellent tutorial pour débuter</a></li>
                        </ul>
                    </section>

                    <section>
                        <h2>Difficultés</h2>
                        <ul>
                            <li class="fragment">Documentation officielle pauvre sur certaines notions</li>
                            <li class="fragment">Ecriture des directives pouvant être compliquée si on ne maîtrise pas son cycle de vie</li>
                            <ul class="fragment">
                                <li>Compilation</li>
                                <li>Link</li>
                                <li>Transclusion</li>
                                <li>Restriction</li>
                            </ul>
                        </ul>
                    </section>

                    <section>
                        <h2>Difficultés</h2>
                        <ul>
                            <li class="fragment">Le data-binding bi-directionnel ne fonctionne pas hors du "monde" AngularJS. Il faut utiliser
                               <code>$scope.$apply()</code> pour notifier angularJS qu'une valeur a été mise à jour
                            </li>
                            <li class="fragment">Intégration librairies UI jQuery pouvant être problématique</li>
                            <ul class="fragment">
                                <li>Je la wrappe dans une directive ?</li>
                                <li>... ou je crée une directive ?</li>
                            </ul>
                        </ul>
                    </section>
                </section>

                <section>
                    <h2>Code & Slides</h2>
                    <p>Code : <a href="https://github.com/lauterry/angularmovie">https://github.com/lauterry/angularmovie</a></p>
                    <p>Slides : <a href="https://github.com/lauterry/slides-prez-angular">https://github.com/lauterry/slides-prez-angular</a></p>
                </section>

				<section>
					<h3>Merci de votre attention !</h3>
					<p>twitter : <a href="https://twitter.com/laut3rry">@laut3rry</a></p>
                    <p>google + : <a href="http://gplus.to/lauthierry">http://gplus.to/lauthierry</a></p>
				</section>

			</div>

		</div>

        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'fade', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/showdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
